.header {
  display: flex;
  max-width: 880px;
  width: 100%;
  padding: 45px 0 41px;
  border-bottom: solid 1px #545454;
  margin-bottom: 40px;
}

.header__logo {
  justify-content: flex-start;
  width: 173px;
}

@media screen and (max-width: 900px) {
  .header {
    display: flex;
    max-width: 550px;
    width: 100%;
    padding: 45px 0 41px;
    border-bottom: solid 1px #545454;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 750px) {
  .header {
    display: flex;
    max-width: 320px;
    width: 100%;
    padding: 45px 0 41px;
    border-bottom: solid 1px #545454;
    margin-bottom: 40px;
  }
}
